.card-img-top {
  width: 60%; }

.card-deck {
  padding: 10rem 2rem; }

.card_ {
  padding: 2rem; }

.genre {
  padding: 10rem 0; }

.feature-content {
  padding: 5rem 2rem; }

.feature-content iframe {
  width: 100%; }
